<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      h1 { text-align: center; font-size: 21pt; padding-top: 2rem; } .field {
      display: inline-block; border-bottom: 2px solid black; margin-left:
      0.3rem; width: 300px; height: 50px; }
    </style>
  </head>
  <body style="margin: 2rem; font-size: 14pt; position: relative;">
    <h1>{{title}}</h1>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">IN WITNESS WHEREOF,
      the parties have executed this Agreement as of the Effective Date.</p>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">DEVELOPER:</p>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">{{dev_name}}</p>

    <p>Name:
      <span class="field"></span></p>
    <p>Signature:
      <span class="field"></span></p>
    <p>Date:
      <span class="field"></span></p>

    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">CLIENT:</p>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">{{client_name}}</p>

    <p>Name:
      <span class="field"></span></p>
    <p>Signature:
      <span class="field"></span></p>
    <p>Date:
      <span class="field"></span></p>
  </body>
  <span
    style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; bottom: 0px; right: 0px;"
  >4 / 5</span>
  <span
    style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; top: 0px; left: 0px;"
  >Project: {{project_name}}</span>
</html>