<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      h1 { text-align: center; font-size: 21pt; padding-top: 2rem;} li {
      margin-top: 1rem; margin-bottom: 1rem; } span { font-weight: bold; }
    </style>
  </head>
  <body style="margin: 2rem; font-size: 14pt; position: relative;">
    <h1>{{title}}</h1>
    <ol>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li>Governing Law. This Agreement shall be governed by and construed in
        accordance with the laws of the Province of Ontario, Canada. Any dispute
        arising out of or relating to this Agreement shall be subject to the
        exclusive jurisdiction of the courts of the Province of Ontario, Canada.</li>
      <li>Dispute Resolution: Any dispute, claim, or controversy arising out of
        or relating to this agreement, including but not limited to, the breach,
        termination, enforcement, interpretation, or validity thereof, shall be
        resolved through good faith negotiations between the parties. If the
        parties are unable to resolve the dispute through negotiations within
        thirty (30) days, either party may request mediation. The parties shall
        select a mutually agreeable mediator and shall share equally in the
        costs of mediation. If mediation is unsuccessful, either party may
        initiate arbitration by filing a written demand for arbitration with the
        Canadian Arbitration Association in accordance with its rules and
        procedures. The arbitration shall take place in the province of Ontario,
        Canada and shall be conducted by a single arbitrator appointed in
        accordance with the Canadian Arbitration Association's rules. The
        decision of the arbitrator shall be final and binding on the parties,
        and may be entered and enforced in any court of competent jurisdiction.
        The prevailing party in any arbitration or litigation arising out of
        this agreement shall be entitled to recover its reasonable attorneys'
        fees and costs incurred in connection with such proceeding. This dispute
        resolution clause does not prevent either party from seeking injunctive
        relief to prevent irreparable harm pending the outcome of any dispute
        resolution process.</li>
      <li>Entire Agreement. This Agreement constitutes the entire agreement
        between the parties and supersedes all prior or contemporaneous
        negotiations, understandings, and agreements, whether written or oral,
        between the parties with respect to the subject matter hereof.</li>
      <li>Amendments. This agreement may not be modified, amended, or
        supplemented except in writing signed by both parties. Any attempt to
        modify, amend, or supplement this agreement except as expressly provided
        herein shall be null and void. Notwithstanding the foregoing, either
        party may request changes to this agreement, provided that such changes
        shall be in writing and shall identify the specific provisions to be
        modified, the reasons for such modifications, and the proposed changes.
        Upon receipt of such a request, the parties shall use their best efforts
        to negotiate a mutually acceptable resolution. Any modification or
        amendment to this agreement shall be effective only if it is in writing
        and signed by both parties.</li>
      <li>Counterparts. This agreement may be executed in counterparts, each of
        which shall be deemed an original, but all of which together shall
        constitute one and the same instrument. Facsimile, electronic, and
        scanned copies of signatures shall be deemed equivalent to original
        signatures for purposes of this agreement. This agreement may be
        executed and delivered by facsimile, electronic mail, or other
        electronic means, and such execution and delivery shall be deemed valid
        and binding upon the parties hereto as if an original executed and
        delivered document.</li>
      <li>Termination: Either party may terminate this agreement upon written
        notice to the other party if: a) The other party breaches any material
        term or condition of this agreement and fails to cure such breach within
        thirty (30) days of written notice specifying the breach; or b) The
        other party becomes insolvent or makes an assignment for the benefit of
        creditors, or if any proceeding under any bankruptcy or insolvency laws
        is commenced by or against the other party. Upon termination of this
        agreement, the developer shall provide the client with all necessary
        passwords, access codes, and related information regarding the website.
        The client shall be responsible for any fees or expenses incurred by the
        developer up to the date of termination. All provisions of this
        agreement that by their nature should survive termination, shall
        survive, including but not limited to, ownership provisions, warranty
        disclaimers, indemnity and limitations of liability.</li>
    </ol>
    <span
      style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; bottom: 0px; right: 0px;"
    >3 / 5</span>
    <span
      style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; top: 0px; left: 0px;"
    >Project: {{project_name}}</span>
  </body>
</html>