<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      h1 { text-align: center; font-size: 21pt; padding-top: 2rem; } li {
      margin-top: 1rem; margin-bottom: 1rem; } span { font-weight: bold; }
    </style>
  </head>
  <body style="margin: 2rem; font-size: 14pt; position: relative;">
    <h1>{{title}}</h1>
    <ol>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li
        style="visibility: hidden; width: 0px; height: 0px; margin: 0px;"
      ></li>
      <li>Acceptance and Testing. Developer shall make the Website available to
        Client for acceptance testing. Client shall have 7 days to test and
        accept the Website. If Client finds any errors or defects during the
        acceptance testing period, Client shall provide written notice to
        Developer specifying such errors or defects. Developer shall promptly
        correct such errors or defects.</li>
      <li>Representations and Warranties. Developer represents and warrants
        that: (a) Developer has the necessary expertise and skill to perform the
        services required under this Agreement; (b) the Website shall be
        designed and developed in a professional and workmanlike manner; (c) the
        Website shall be free from any viruses or other harmful code; and (d)
        the Website shall not infringe on any third party intellectual property
        rights.</li>
      <li>Confidentiality. The parties acknowledge and agree that during the
        course of this agreement, each party may disclose certain confidential
        information to the other party. Confidential information means any and
        all information disclosed by one party to the other party, whether
        orally or in writing, that is designated as confidential or that, under
        the circumstances surrounding the disclosure, should reasonably be
        understood to be confidential. The receiving party shall use the
        confidential information solely for the purpose of performing its
        obligations under this agreement and shall not disclose such
        confidential information to any third party without the prior written
        consent of the disclosing party, except to its employees, agents, and
        subcontractors who have a need to know such confidential information for
        the purpose of performing its obligations under this agreement and who
        are bound by confidentiality obligations at least as protective as those
        contained herein. The receiving party shall take all reasonable steps to
        protect the confidentiality of the confidential information, including
        but not limited to, implementing and maintaining appropriate
        administrative, technical, and physical safeguards to prevent
        unauthorized access to or disclosure of the confidential information.
        This confidentiality obligation shall survive the termination or
        expiration of this agreement for a period of three (3) years.</li>
      <li>Indemnification. Developer agrees to indemnify, defend, and hold
        harmless Client and its officers, directors, employees, and agents from
        any and all claims, damages, and expenses (including reasonable
        attorney's fees) arising out of or in connection with Developer's breach
        of any of its representations or warranties under this Agreement.</li>
      <li>Limitation of Liability. In no event shall Developer be liable for any
        consequential, special, indirect, or punitive damages arising out of or
        in connection with this Agreement, even if Developer has been advised of
        the possibility of such damages. Developer's total liability to Client
        under this Agreement shall not exceed the Purchase Price.</li>
      <li>Digital Assets. Client acknowledges and agrees that it is solely
        responsible for providing Developer with any digital assets or
        information necessary for the development of the Website, including but
        not limited to logos, pictures, and text.</li>
      <li>Publicity. Developer is free to use the Website in its professional
        portfolio after the Website has been made public. Developer does not
        require any credit or attribution specified on the Website.</li>
      <li>Force Majeure. Neither party shall be liable for any failure or delay
        in performance under this Agreement if such failure or delay is caused
        by acts of God, war, terrorism, civil unrest, embargoes, government
        regulations, strikes, labor disputes, illness, or other similar causes
        beyond the reasonable control of such party.</li>

    </ol>
    <span
      style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; bottom: 0px; right: 0px;"
    >2 / 5</span>
    <span
      style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; top: 0px; left: 0px;"
    >Project: {{project_name}}</span>
  </body>
</html>