<html lang="en">
  <body
    style="margin: 2rem; display: flex; flex-direction: column; height: 90vh; justify-content: center; align-items: center; position: relative;"
  >
    <img src="_nuxt/assets/images/logo.webp" alt="FMB_LOGO" />
    <span style="font-style: italic;">francescobarranca.dev</span>
  </body>
  <span
    style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; bottom: 0px; right: 0px;"
  >5 / 5</span>
  <span
    style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; top: 0px; left: 0px;"
  >Project: {{project_name}}</span>
</html>