@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YukiCode";
  src: url("../fonts/YukiCode-Regular.otf");
}

@font-face {
  font-family: "CaffeineMono";
  src: url("../fonts/CaffeineMono.otf");
}

@font-face {
  font-family: "Kreadon";
  src: url("../fonts/KreadonVF.ttf");
}

@layer base {
  :root {
    --color-std: 255 251 255;
    --color-primary: 16 59 65;
    --color-accent: 164 38 0;
    --color-success: 86 229 46;
    --color-error: 138 18 18;
  }

  :root[class~="dark"] {
    --color-std: 26 24 27;
    --color-primary: 20 255 247;
    --color-accent: 255 196 61;
    --color-success: 86 229 46;
    --color-error: 138 18 18;
  }
}

html {
  scroll-behavior: smooth;
  font-family: "CaffeineMono", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  @apply bg-std;
}

button {
  font: inherit;
  outline: none;
}

@layer components {
  .btn {
    @apply bg-primary text-accent dark:bg-transparent dark:border-accent border-2 px-3 py-2 rounded text-sm cursor-pointer;
  }

  .card {
    @apply p-3 rounded bg-accent text-std shadow-md flex flex-col justify-around items-center w-full md:w-1/3 my-2;
  }

  .card > li {
    @apply flex justify-between p-1 w-full;
  }

  .card > li > span {
    @apply max-w-[50%] truncate;
  }

  .link {
    @apply border-b-2 border-transparent hover:border-accent;
  }

  .form-control {
    @apply flex flex-col w-full p-2 justify-around;
  }

  .label {
    @apply w-fit p-1;
  }

  .input {
    @apply border-b-2 border-solid bg-transparent outline-none;
  }

  .logbtn {
    @apply border-accent border-2 text-accent text-lg md:text-2xl w-9/12 text-center my-5 p-3 tracking-wide rounded-md cursor-pointer;
  }

  .outbtn {
    @apply bg-accent text-std text-center font-bold px-6 py-1 tracking-wider rounded-full cursor-pointer;
  }
}
